{% extends "base.html" %}
{% block content %}


<h3><p class="text-center">Автоматизированная система удаленного управления теплицей</p></h3>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" style="margin:15px auto" type="button" class="btn btn-primary" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="index">Главная</a>
                <a class="dropdown-item" href="table">Таблица значений</a>
                <a class="dropdown-item" href="about_us">О нас</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">

        </div>
      </div>
    </div>      
    
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="https://sun9-64.userapi.com/impg/tdNS7nQERScePUVOLT9diJ_2ZiaHvK3bRjdSGA/Jw9fU7cWZlM.jpg?size=806x1080&quality=95&sign=16e7c7b5efed87d6c8c2bda1432aaa1c&type=album" alt="..." class="img-thumbnail" style="height: 230px;">
        </div>
        <div class="col-sm">
          <img src="https://sun9-79.userapi.com/impg/cw2DsOG71I5UiOy6URNGMIig4abhDlojjSBo_w/cADce56Tvmo.jpg?size=728x1080&quality=95&sign=2a2814889282924889678fbf13e2aa93&type=album" alt="..." class="img-thumbnail" style="height: 230px;">
        </div>
        <div class="col-sm">
          <img src="https://sun9-77.userapi.com/impg/nQ80L5p4dovOeWFzCDDBn7qMlP6DtHMBpSNcLA/mWSwP2_lbFI.jpg?size=802x1080&quality=95&sign=51e2c211b57d336ef92ca2d2a60a0483&type=album" alt="..." class="img-thumbnail" style="height: 230px;">
        </div>
        <div class="col-sm">
          <img src="https://sun9-3.userapi.com/impg/mY14JJzgMhXfJaI0arWLMxdC9XBF9yuxn0mUGA/HlReICf8koQ.jpg?size=774x1080&quality=95&sign=4778ab6d49249198bcb26d47ea29b04b&type=album" alt="..." class="img-thumbnail" style="height: 230px;">
        </div>
        <div class="col-sm">
          <img src="..." alt="..." class="img-thumbnail">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4>Негребенчик Алексей </h4>
          <h5>Бэкенд-разработчик </h5>
        </div>
        <div class="col-sm">
          <h4>Архангельский Александр </h4>
          <h5>Фронтенд-разработчик </h5>
        </div>
        <div class="col-sm">
          <h4>Поднебеснова Анна </h4>
          <h5>Бэкенд-разработчик </h5>
        </div>
        <div class="col-sm">
          <h4>Ковалев Михаил </h4>
          <h5>Работа с базой данных </h5>
        </div>
        <div class="col-sm">
          <h4>Криволапов Роман </h4>
          <h5>Работа с базой данных </h5>
        </div>
      </div>
    </div>
    {% endblock %}
 