{% extends "base.html" %}
{% block content %}


    <h3><p class="text-center">Автоматизированная система удаленного управления теплицей</p></h3>

    <div class="container" style="margin:15px auto">
      <div class="row">
        <div class="col-4">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="index">Главная</a>
              <a class="dropdown-item" href="table">Таблица значений</a>
              <a class="dropdown-item" href="about_us">О нас</a>
              <a class="dropdown-item" href="input">Введение значений</a>
            </div>
            <button type="button" class="btn btn-secondary" onclick="start_bd()">
              Старт/стоп базы данных
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">

        </div>
      </div>
    </div>      
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="btn-group" style="margin:10px auto" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Датчики температуры/влажности
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a type="button" class="dropdown-item" onclick="graph_1()">Датчик № 1</a>
              <a class="dropdown-item" onclick="graph_2()">Датчик № 2</a>
              <a class="dropdown-item" onclick="graph_3()">Датчик № 3</a>
              <a class="dropdown-item" onclick="graph_4()">Датчик № 4</a>
            </div>
          </div>
          <div class="btn-group" style="margin:5px auto" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Датчики влажности почвы
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" onclick="graph_1_1()">Датчик № 1</a>
              <a class="dropdown-item" onclick="graph_1_2()">Датчик № 2</a>
              <a class="dropdown-item" onclick="graph_1_3()">Датчик № 3</a>
              <a class="dropdown-item" onclick="graph_1_4()">Датчик № 4</a>
              <a class="dropdown-item" onclick="graph_1_5()">Датчик № 5</a>
              <a class="dropdown-item" onclick="graph_1_6()">Датчик № 6</a>
            </div>
          </div>



          <h3 style="text-align: center; margin:15px auto">Температура воздуха</h3>
          <div id="cur_t" class="alert alert-info" role="alert">
          </div>
          <div id="av_t" class="alert alert-info" role="alert">
          </div>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button onclick="close_windows()" type="button" class="btn btn-secondary">Закрыто</button>
            <button onclick="open_windows()" type="button" class="btn btn-secondary">Открыто</button>
          </div>
          <h5 id="status_of_windows">Статус: Форточки закрыты</h5>



          <h3 style="text-align: center; margin:15px auto">Влажность воздуха</h3>
          <div id="cur_h" class="alert alert-info" role="alert">
          </div>
          <div id="av_h" class="alert alert-info" role="alert">
          </div>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button onclick="close_water()" type="button" class="btn btn-secondary">Закрыто</button>
            <button onclick="open_water()" type="button" class="btn btn-secondary">Открыто</button>
          </div>
          <h5 id="status_of_water">Статус: полив закрыт</h5>

        </div>
        <div class="col-8">
          <h4 id="Name_of_Chart" style="text-align: center"></h4>  
          <canvas id="myChart" style="background-image: url(https://kartinkin.net/pics/uploads/posts/2022-08/1660407500_2-kartinkin-net-p-chisto-chernie-oboi-na-telefon-krasivo-2.jpg)"></canvas>
        </div> 
      </div>
    </div>
    <h2 style="text-align: center; margin:55px auto">Полив бороздок в теплице</h2>
    <div style="margin-bottom: 40px;" class="container">
      <div class="row">
        <div class="col-4">
          <h5>Полив бороздки № 1</h5>
          <button onclick="close_water_earht_1()" type="button" class="btn btn-secondary">Закрыто</button>
          <button onclick="open_water_earth_1()" type="button" class="btn btn-secondary">Открыто</button>
          <h6 id="status_of_water_earth_1">Полив выключен</h6>
        </div>
        <div class="col-4">
          <h5>Полив бороздки № 2</h5>
          <button onclick="close_water_earht_2()" type="button" class="btn btn-secondary">Закрыто</button>
          <button onclick="open_water_earth_2()" type="button" class="btn btn-secondary">Открыто</button>
          <h6 id="status_of_water_earth_2">Полив выключен</h6>
        </div>
        <div class="col-4">
          <h5>Полив бороздки № 3</h5>
          <button onclick="close_water_earht_3()" type="button" class="btn btn-secondary">Закрыто</button>
          <button onclick="open_water_earth_3()" type="button" class="btn btn-secondary">Открыто</button>
          <h6 id="status_of_water_earth_3">Полив выключен</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h5>Полив бороздки № 4</h5>
          <button onclick="close_water_earht_4()" type="button" class="btn btn-secondary">Закрыто</button>
          <button onclick="open_water_earth_4()" type="button" class="btn btn-secondary">Открыто</button>
          <h6 id="status_of_water_earth_4">Полив выключен</h6>
        </div>
        <div class="col-4">
          <h5>Полив бороздки № 5</h5>
          <button onclick="close_water_earht_5()" type="button" class="btn btn-secondary">Закрыто</button>
          <button onclick="open_water_earth_5()" type="button" class="btn btn-secondary">Открыто</button>
          <h6 id="status_of_water_earth_5">Полив выключен</h6>
        </div>
        <div class="col-4">
          <h5>Полив бороздки № 6</h5>
          <button onclick="close_water_earht_6()" type="button" class="btn btn-secondary">Закрыто</button>
          <button onclick="open_water_earth_6()" type="button" class="btn btn-secondary">Открыто</button>
          <h6 id="status_of_water_earth_6">Полив выключен</h6>
        </div>
      </div>
    </div>
    

    <script>
      function call_to_server(url, data, onload) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(data);

      xhr.onload = function() {
        var data_1 = JSON.parse(this.responseText);
        console.log(data_1);
        if (onload != null){onload(data_1);}
      };
    }
      function start_bd(){
        call_to_server('/start_bd', [], null)
      }

      graph_1()
      current_temp_and_average_temp()
      current_hum_and_average_hum()
      // current_hum_and_average_hum_of_earth()

      test1 = []
      function graph(number){    
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/index/temp_hum?number='+number);
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          console.log(data)
          console.log(data["date"])
          console.log(data["temp"])
          console.log(data["hum"])
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Температура, °C",
                    data: data["temp"],
                    backgroundColor: "rgba(153,205,1,0.6)",
                  },
                  {
                    label: "Влажность, %",
                    data: data["hum"],
                    backgroundColor: "rgba(155,153,10,0.6)",
                  },
                ],
              },
            });
          };
        }
      function graph_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 1';
        graph(1);
        return false;
      }
      function graph_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 2';
        graph(2);
        return false;
      }
      function graph_3(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 3';
        graph(3);
        return false;
      }
      function graph_4(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 4';
        graph(4);
        return false;
      }
      
      function graph_hum_earth(number){    
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/index/hum_earth?number='+number); 
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Влажность почвы, %",
                    data: data["hum_earth"],
                    backgroundColor: "rgba(155,153,10,0.6)",
                  },
                ],
              },
            });
          };
        }
      
      function graph_1_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 1';
        graph_hum_earth(1);
        return false;
      }
      function graph_1_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 2';
        graph_hum_earth(2);
        return false;
      }
      function graph_1_3(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 3';
        graph_hum_earth(3);
        return false;
      }
      function graph_1_4(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 4';
        graph_hum_earth(4);
        return false;
      }
      function graph_1_5(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 5';
        graph_hum_earth(5);
        return false;
      }
      function graph_1_6(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 6';
        graph_hum_earth(6);
        return false;
      }

      function current_temp_and_average_temp() {
        document.querySelector('#cur_t').innerHTML = 'Текущая температура: '
        document.querySelector('#av_t').innerHTML = 'Средняя температура: '
      }
      function close_windows() {
        document.querySelector('#status_of_windows').innerHTML = 'Статус: Форточки закрыты'
        
      }
      function open_windows() {
        document.querySelector('#status_of_windows').innerHTML = 'Статус: Форточки открыты'
      }



      function current_hum_and_average_hum() {
        document.querySelector('#cur_h').innerHTML = 'Текущая влажность: '
        document.querySelector('#av_h').innerHTML = 'Средняя влажность: '
      }
      function close_water() {
        document.querySelector('#status_of_water').innerHTML = 'Статус: полив закрыт'
      }
      function open_water() {
        document.querySelector('#status_of_water').innerHTML = 'Статус: полив открыт'
      }

      // function current_hum_and_average_hum_of_earth() {
      //   document.querySelector('#cur_h_e').innerHTML = 'Текущая влажность почвы: '
      //   document.querySelector('#av_h_e').innerHTML = 'Средняя влажность почвы: '
      // }

      function close_water_earht_1() {
        document.querySelector('#status_of_water_earth_1').innerHTML = 'Полив выключен'
      }
      function open_water_earth_1() {
        document.querySelector('#status_of_water_earth_1').innerHTML = 'Полив включен'
      }
      function close_water_earht_2() {
        document.querySelector('#status_of_water_earth_2').innerHTML = 'Полив выключен'
      }
      function open_water_earth_2() {
        document.querySelector('#status_of_water_earth_2').innerHTML = 'Полив включен'
      }
      function close_water_earht_3() {
        document.querySelector('#status_of_water_earth_3').innerHTML = 'Полив выключен'
      }
      function open_water_earth_3() {
        document.querySelector('#status_of_water_earth_3').innerHTML = 'Полив включен'
      }
      function close_water_earht_4() {
        document.querySelector('#status_of_water_earth_4').innerHTML = 'Полив выключен'
      }
      function open_water_earth_4() {
        document.querySelector('#status_of_water_earth_4').innerHTML = 'Полив включен'
      }
      function close_water_earht_5() {
        document.querySelector('#status_of_water_earth_5').innerHTML = 'Полив выключен'
      }
      function open_water_earth_5() {
        document.querySelector('#status_of_water_earth_5').innerHTML = 'Полив включен'
      }
      function close_water_earht_6() {
        document.querySelector('#status_of_water_earth_6').innerHTML = 'Полив выключен'
      }
      function open_water_earth_6() {
        document.querySelector('#status_of_water_earth_6').innerHTML = 'Полив включен'
      }

        </script>
{% endblock %}