{% extends "base.html" %}
{% block content %}


<h3><p class="text-center">Автоматизированная система удаленного управления теплицей</p></h3>

<div class="container" style="margin:15px auto">
  <div class="row">
    <div class="col-4">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Меню
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="index">Главная</a>
          <a class="dropdown-item" href="table">Таблица значений</a>
          <a class="dropdown-item" href="about_us">О нас</a>
          <a class="dropdown-item" href="input">Введение значений</a>
        </div>
        <button id="start_stop_data_base" type="button" class="btn btn-secondary" is_start="{{stop_start_data_base}}" style="
        left: 10px;" onclick="start_bd()">
          {{text_bd_core}}
        </button>
      </div>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="btn-group" style="margin:10px auto" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          График датчиков температуры/влажности
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a type="button" class="dropdown-item" onclick="graph_1()">График датчика № 1</a>
          <a class="dropdown-item" onclick="graph_2()">График датчика № 2</a>
          <a class="dropdown-item" onclick="graph_3()">График датчика № 3</a>
          <a class="dropdown-item" onclick="graph_4()">График датчика № 4</a>
        </div>
      </div>
      <div class="btn-group" style="margin:5px auto" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          График датчиков влажности почвы
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" onclick="graph_1_1()">График датчика № 1</a>
          <a class="dropdown-item" onclick="graph_1_2()">График датчика № 2</a>
          <a class="dropdown-item" onclick="graph_1_3()">График датчика № 3</a>
          <a class="dropdown-item" onclick="graph_1_4()">График датчика № 4</a>
          <a class="dropdown-item" onclick="graph_1_5()">График датчика № 5</a>
          <a class="dropdown-item" onclick="graph_1_6()">График датчика № 6</a>
        </div>
      </div>
      <div class="btn-group" style="margin:5px auto" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          График датчиков средней температуры/влажности
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" onclick="graph_2_1()">График средней температуры</a>
          <a class="dropdown-item" onclick="graph_2_2()">График средней влажности</a>
        </div>
      </div>



      <h3 style="margin:15px auto">Температура воздуха</h3>
      <div id="cur_t" class="alert alert-info" role="alert">
      </div>
      <div id="av_t" class="alert alert-info" role="alert">
      </div>
      <button id="button_close_windows" onclick="close_windows()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_windows" onclick="open_windows()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h5 id="status_of_windows">Статус: Форточки закрыты</h5>



      <h3 style="margin:15px auto">Влажность воздуха</h3>
      <div id="cur_h" class="alert alert-info" role="alert">
      </div>
      <div id="av_h" class="alert alert-info" role="alert">
      </div>
      <button id="button_close_water" onclick="close_water()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water" onclick="open_water()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h5 id="status_of_water">Статус: полив закрыт</h5>

    </div>
    <div class="col-7">
      <h4 id="Name_of_Chart" style="text-align: center"></h4>  
      <canvas id="myChart" style="background-image: url(https://kartinkin.net/pics/uploads/posts/2022-08/1660407500_2-kartinkin-net-p-chisto-chernie-oboi-na-telefon-krasivo-2.jpg)"></canvas>


      <h4 style="text-align: center; margin-top: 40px;">График значений датчиков в указанном промежутке</h4>
      <div style="margin-top: 20px" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Примечание!</h4>
        <p>Пожалуйста, введите даты начала и конца интересующего Вас промежутка времени в даном формате:</p>
        <hr>
        <p class="mb-0">Дата начала графика: 2023-03-09 14:03:00</p>
        <p class="mb-1">Дата  конца графика: 2023-03-09 17:25:30</p>
      </div>
      <div style="margin-top: 20px;" class="container">
        <div class="row">
          <div class="col-6">
            <input name="text_date_from" class="form-control" type="text" placeholder="Дата начала графика">
          </div>
          <div class="col-6">
            <input name="text_date_to" class="form-control" type="text" placeholder="Дата  конца графика">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button style="margin-top: 20px;" onclick="write_dates()" type="button" class="btn btn-info">Записать временной промежуток</button>
      </div>
      <div class="text-center">
        <div class="btn-group" style="margin:20px auto" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Показать графики датчиков температуры/влажности
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a type="button" class="dropdown-item" onclick="graph_date_1()">График датчика № 1</a>
            <a class="dropdown-item" onclick="graph_date_2()">График датчика № 2</a>
            <a class="dropdown-item" onclick="graph_date_3()">График датчика № 3</a>
            <a class="dropdown-item" onclick="graph_date_4()">График датчика № 4</a>
          </div>
        </div>
      </div>
      <div class="text-center"><div class="btn-group" style="margin:5px auto" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Показать графики датчиков влажности почвы
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" onclick="graph_date_1_1()">График датчика № 1</a>
          <a class="dropdown-item" onclick="graph_date_1_2()">График датчика № 2</a>
          <a class="dropdown-item" onclick="graph_date_1_3()">График датчика № 3</a>
          <a class="dropdown-item" onclick="graph_date_1_4()">График датчика № 4</a>
          <a class="dropdown-item" onclick="graph_date_1_5()">График датчика № 5</a>
          <a class="dropdown-item" onclick="graph_date_1_6()">График датчика № 6</a>
        </div></div>
      </div>
      


      <!-- <div style="margin: 40px" class="text-center">
        <button id="button_stop_bd" onclick="stop_bd()" type="button" class="btn btn-danger">Выключить базу данных</button>
        <button id="button_start_bd" onclick="start_bd()" type="button" class="btn btn-danger">Включить базу данных</button>
        
      </div>
      <h3 class="text-center" id="text_start_bd">База данных выключена</h3>
    </div>  -->
  </div>
</div>
<h2 style="text-align: center; margin:55px auto">Полив бороздок в теплице</h2>
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div style="text-align: center;" id="av_h_e" class="alert alert-info" role="alert">
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
<div style="margin-bottom: 40px;" class="container">
  <div class="row">
    <div class="col-4">
      <h5>Полив бороздки № 1</h5>
      <div id="aver_hum_earth_1" class="alert alert-success" role="alert"></div>
      <button id="button_close_water_earth_1" onclick="close_water_earth_1()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water_earth_1" onclick="open_water_earth_1()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h6 id="status_of_water_earth_1">Полив выключен</h6>
    </div>
    <div class="col-4">
      <h5>Полив бороздки № 2</h5>
      <div id="aver_hum_earth_2" class="alert alert-success" role="alert"></div>
      <button id="button_close_water_earth_2" onclick="close_water_earth_2()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water_earth_2" onclick="open_water_earth_2()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h6 id="status_of_water_earth_2">Полив выключен</h6>
    </div>
    <div class="col-4">
      <h5>Полив бороздки № 3</h5>
      <div id="aver_hum_earth_3" class="alert alert-success" role="alert"></div>
      <button id="button_close_water_earth_3" onclick="close_water_earth_3()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water_earth_3" onclick="open_water_earth_3()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h6 id="status_of_water_earth_3">Полив выключен</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h5>Полив бороздки № 4</h5>
      <div id="aver_hum_earth_4" class="alert alert-success" role="alert"></div>
      <button id="button_close_water_earth_4" onclick="close_water_earth_4()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water_earth_4" onclick="open_water_earth_4()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h6 id="status_of_water_earth_4">Полив выключен</h6>
    </div>
    <div class="col-4">
      <h5>Полив бороздки № 5</h5>
      <div id="aver_hum_earth_5" class="alert alert-success" role="alert"></div>
      <button id="button_close_water_earth_5" onclick="close_water_earth_5()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water_earth_5" onclick="open_water_earth_5()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h6 id="status_of_water_earth_5">Полив выключен</h6>
    </div>
    <div class="col-4">
      <h5>Полив бороздки № 6</h5>
      <div id="aver_hum_earth_6" class="alert alert-success" role="alert"></div>
      <button id="button_close_water_earth_6" onclick="close_water_earth_6()" type="button" class="btn btn-light">Закрыть</button>
      <button id="button_open_water_earth_6" onclick="open_water_earth_6()" type="button" class="btn btn-light">Открыть</button>
      <button id="button_update_earth_1" onclick="average_hum_earth_post_1()" type="button" class="btn btn-info">Обновить</button>
      <h6 id="status_of_water_earth_6">Полив выключен</h6>
    </div>
  </div>
</div>

<div class="container" style="margin:30px auto">
  <div class="row">
    <div class="col-4">
      <h5>Записать среднее значение температуры воздуха</h5>
      <input name="average_temp" class="form-control Inputvalue" style="margin:15px auto" type="text" placeholder="Введите значение">
    </div>
    <div class="col-4">
      <h5>Записать среднее значение влажности воздуха</h5>
      <input name="average_hum_of_oxygen" class="form-control Inputvalue" style="margin:15px auto" type="text" placeholder="Введите значение">
    </div>
    <div class="col-4">
      <h5>Записать среднее значение влажности почвы</h5>
      <input name="average_hum_of_earth" class="form-control Inputvalue" style="margin:15px auto" type="text" placeholder="Введите значение">
    </div>
    <button type="button" style="margin:15px auto" class="btn btn-warning" onclick="button_1()">Записать</button>
  </div>
</div>
<h2 id="text_emer_manag" style="text-align: center;">Экстренное управление теплицей выключено</h2>
<div style="margin-bottom: 40px" class="container">
  <div class="row">
    <div style="text-align: center;" class="col-4">
      <button id="button_turn_off_manag" disabled  onclick="turn_off_emer_manag()" type="button" class="btn btn-danger">Выключить экстренное управление</button>
    </div>
    <div style="text-align: center;" class="col-4">
      <button id="button_turn_on_manag"  onclick="turn_on_emer_manag()" type="button" class="btn btn-danger">Включить экстренное управление</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
    
    <script>
    var reloud_graph = graph_1 
    var mid_temp_bd = {{input_temp}}
    var mid_hum_bd = {{input_hum}}
    var mid_hum_earth_bd = {{input_hum_earth}}
    var average_hum_earth_post_alert_var_1
    var average_hum_earth_post_alert_var_2
    var average_hum_earth_post_alert_var_3
    var average_hum_earth_post_alert_var_4
    var average_hum_earth_post_alert_var_5
    var average_hum_earth_post_alert_var_6
    var average_temp_ox_post_alert_var
    var average_hum_ox_post_alert_var

    function call_to_server(url, data, onload) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(data);

      xhr.onload = function() {
        var data_1 = JSON.parse(this.responseText);
        console.log(data_1);
        if (onload != null){onload(data_1);}
      };
    }
    function button_1(){
      input_temp = document.querySelector("input[name='average_temp']").value;
      
      input_hum = document.querySelector("input[name='average_hum_of_oxygen']").value;

      input_hum_earth = document.querySelector("input[name='average_hum_of_earth']").value;
      
      call_to_server('/inputvalues', JSON.stringify({
        averagetemp: input_temp,
        averagehum: input_hum,
        averagehumearth: input_hum_earth}), function(){
          alert ("Вы записали данные датчиков температуры, влажности воздуха, влажности почвы: ");
          mid_temp_bd = input_temp;
          mid_hum_bd = input_hum;
          mid_hum_earth_bd = input_hum_earth;
          average_temp_earth_input_alert = document.querySelector('#av_t')
          average_temp_earth_input_alert = 'Значение температуры управления проветриванием: {{average_temp_earth_input_alert}}'
          // average_hum_input_alert = document.querySelector('#av_t')
        });
    }
      
    function start_bd(){
        call_to_server('/start_bd', [], function(){
          data_bd = document.querySelector("#start_stop_data_base");
          is_start = data_bd.getAttribute("is_start") == "true"?false:true;
          data_bd.setAttribute("is_start", is_start.toString());
          if (is_start){
            data_bd.textContent = "{{text_bd_true}}"
          }
          else {
            data_bd.textContent = "{{text_bd_false}}"
          }
          
        })
      }
      function average_hum_earth_post_1(){
        call_to_server('/average_hum_earth_post_1', [], function(g){
          average_hum_earth_post_alert_1 = document.querySelector('#aver_hum_earth_1')
          average_hum_earth_post_alert_1.textContent = "Средняя влажность почвы за последние 10 измерений: "+ g[0]
          average_hum_earth_post_alert_var_1 = g[0]
          average_hum_earth_post_alert_2 = document.querySelector('#aver_hum_earth_2')
          average_hum_earth_post_alert_2.textContent = "Средняя влажность почвы за последние 10 измерений: "+ g[1]
          average_hum_earth_post_alert_var_2 = g[1]
          average_hum_earth_post_alert_3 = document.querySelector('#aver_hum_earth_3')
          average_hum_earth_post_alert_3.textContent = "Средняя влажность почвы за последние 10 измерений: "+g[2]
          average_hum_earth_post_alert_var_2 = g[2]
          average_hum_earth_post_alert_4 = document.querySelector('#aver_hum_earth_4')
          average_hum_earth_post_alert_4.textContent = "Средняя влажность почвы за последние 10 измерений: "+g[3]
          average_hum_earth_post_alert_var_4 = g[3]
          average_hum_earth_post_alert_5 = document.querySelector('#aver_hum_earth_5')
          average_hum_earth_post_alert_5.textContent = "Средняя влажность почвы за последние 10 измерений: "+g[4]
          average_hum_earth_post_alert_var_5 = g[4]
          average_hum_earth_post_alert_6 = document.querySelector('#aver_hum_earth_6')
          average_hum_earth_post_alert_6.textContent = "Средняя влажность почвы за последние 10 измерений: "+g[5]
          average_hum_earth_post_alert_var_6 = g[5]
          average_temp_post_alert = document.querySelector('#cur_t')
          average_temp_post_alert.textContent = 'Текущая средняя температура за последние 10 измерений: '+ g[6]
          average_temp_ox_post_alert_var = g[6]
          average_hum_post_alert = document.querySelector('#cur_h')
          average_hum_post_alert.textContent = 'Текущая средняя влажность за последние 10 измерений: '+g[7]
          average_hum_ox_post_alert_var = g[7]
        });
      }
      // function average_temp_hum_post(){
      //   call_to_server('/average_hum_earth_post_1', [], function(){
      //     average_temp_post = document.querySelector('#cur_t');
      //     average_temp_post.textContent = 'Текущая средняя температура за последние 10 измерений: {{average_temp_post}}'
      //     average_hum_post = document.querySelector('#cur_h')
      //     average_hum_post.textContent = 'Текущая средняя влажность за последние 10 измерений: {{mid_hum}}'
      //   })
      // }
      graph_1()
      current_temp_and_average_temp()
      current_hum_and_average_hum()
      current_hum_e_and_average_hum_e()
      close_water()
      close_windows()
      close_water_earth_1()
      close_water_earth_2()
      close_water_earth_3()
      close_water_earth_4()
      close_water_earth_5()
      close_water_earth_6()
      average_hum_earth_1()
      average_hum_earth_6()
      average_hum_earth_5()
      average_hum_earth_4()
      average_hum_earth_3()
      average_hum_earth_2()

      test1 = []
      function graph(number){    
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/index/temp_hum?number='+number);
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          console.log(data)
          console.log(data["date"])
          console.log(data["temp"])
          console.log(data["hum"])
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Температура, °C",
                    data: data["temp"],
                    backgroundColor: "rgba(153,205,1,0.6)",
                  },
                  {
                    label: "Влажность, %",
                    data: data["hum"],
                    backgroundColor: "rgba(155,153,10,0.6)",
                  },
                ],
              },
            });
          };
        }

      
        function graph_for_average_temp(){ 
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/mid_temp_graph'); 
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Температура, °C",
                    data: data["mid_temp"],
                    backgroundColor: "rgba(153,205,1,0.6)",
                  },
                ],
              },
            });
          };
        }

        function graph_for_average_hum(){     
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/mid_hum_graph'); //не знаю, что ты сюда будешт передавать, но для средней темпы number = 1, а для влажности - 2
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Влажность, %",
                    data: data["mid_hum"],
                    backgroundColor: "rgba(153,205,1,0.6)",
                  },
                ],
              },
            });
          };
        }

      function graph_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 1';
        graph(1);
        reloud_graph = graph_1;
        return false;
      }
      function graph_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 2';
        graph(2);
        reloud_graph = graph_2;
        return false;
      }
      function graph_3(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 3';
        graph(3);
        return false;
      }
      function graph_4(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 4';
        graph(4);
        reloud_graph = graph_4;
        return false;
      }
      
      function graph_2_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График средней температуры';
        graph_for_average_temp();
        reloud_graph = graph_2_1;
        return false;
      }
      function graph_2_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График средней влажности';
        graph_for_average_hum();
        reloud_graph = graph_2_2;
        return false;
      }

      function graph_hum_earth(number){    
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/index/hum_earth?number='+number); 
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Влажность почвы, %",
                    data: data["hum_earth"],
                    backgroundColor: "rgba(155,153,10,0.6)",
                  },
                ],
              },
          });
        };
      }
      
      function graph_1_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 1';
        graph_hum_earth(1);
        reloud_graph = graph_1_1;
        return false;
      }
      function graph_1_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 2';
        graph_hum_earth(2);
        reloud_graph = graph_1_2;
        return false;
      }
      function graph_1_3(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 3';
        graph_hum_earth(3);
        reloud_graph = graph_1_3;
        return false;
      }
      function graph_1_4(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 4';
        graph_hum_earth(4);
        reloud_graph = graph_1_4;
        return false;
      }
      function graph_1_5(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 5';
        graph_hum_earth(5);
        reloud_graph = graph_1_5;
        return false;
      }
      function graph_1_6(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 6';
        graph_hum_earth(6);
        reloud_graph = graph_1_6;
        return false;
      }

      function current_hum_e_and_average_hum_e() {
        document.querySelector('#av_h_e').innerHTML = 'Значение влажности почвы управления системы увлажнения: {{input_hum_earth}}'
      }

      function current_temp_and_average_temp() {
        document.querySelector('#cur_t').innerHTML = 'Текущая средняя температура за последние 10 измерений: {{mid_temp}}'
        document.querySelector('#av_t').innerHTML = 'Значение температуры управления прoветриванием: {{input_temp}}'
      }
      function close_windows() {
        document.querySelector('#status_of_windows').innerHTML = 'Статус: Форточки закрыты'
        document.querySelector('#button_close_windows').setAttribute('disabled', true)
        document.querySelector('#button_open_windows').removeAttribute('disabled')
        
      }
      function open_windows() {
        document.querySelector('#status_of_windows').innerHTML = 'Статус: Форточки открыты'
        document.querySelector('#button_open_windows').setAttribute('disabled', true)
        document.querySelector('#button_close_windows').removeAttribute('disabled')
      }



      function current_hum_and_average_hum() {
        document.querySelector('#cur_h').innerHTML = 'Текущая средняя влажность за последние 10 измерений: {{mid_hum}}'
        document.querySelector('#av_h').innerHTML = 'Значение влажности управления системы увлажнения: {{input_hum}}'
      }
      function close_water() {
        document.querySelector('#status_of_water').innerHTML = 'Статус: полив закрыт'
        document.querySelector('#button_close_water').setAttribute('disabled', true)
        document.querySelector('#button_open_water').removeAttribute('disabled')
      }
      function open_water() {
        document.querySelector('#status_of_water').innerHTML = 'Статус: полив открыт'
        document.querySelector('#button_open_water').setAttribute('disabled', true)
        document.querySelector('#button_close_water').removeAttribute('disabled')
      }

      
      function close_water_earth_1() {
        document.querySelector('#status_of_water_earth_1').innerHTML = 'Полив выключен'
        document.querySelector('#button_close_water_earth_1').setAttribute('disabled', true)
        document.querySelector('#button_open_water_earth_1').removeAttribute('disabled')
      }
      function open_water_earth_1() {
        document.querySelector('#status_of_water_earth_1').innerHTML = 'Полив включен'
        document.querySelector('#button_open_water_earth_1').setAttribute('disabled', true)
        document.querySelector('#button_close_water_earth_1').removeAttribute('disabled')

      }
      function close_water_earth_2() {
        document.querySelector('#status_of_water_earth_2').innerHTML = 'Полив выключен'
        document.querySelector('#button_close_water_earth_2').setAttribute('disabled', true)
        document.querySelector('#button_open_water_earth_2').removeAttribute('disabled')
      }
      function open_water_earth_2() {
        document.querySelector('#status_of_water_earth_2').innerHTML = 'Полив включен'
        document.querySelector('#button_open_water_earth_2').setAttribute('disabled', true)
        document.querySelector('#button_close_water_earth_2').removeAttribute('disabled')

      }
      function close_water_earth_3() {
        document.querySelector('#status_of_water_earth_3').innerHTML = 'Полив выключен'
        document.querySelector('#button_close_water_earth_3').setAttribute('disabled', true)
        document.querySelector('#button_open_water_earth_3').removeAttribute('disabled')
      }
      function open_water_earth_3() {
        document.querySelector('#status_of_water_earth_3').innerHTML = 'Полив включен'
        document.querySelector('#button_open_water_earth_3').setAttribute('disabled', true)
        document.querySelector('#button_close_water_earth_3').removeAttribute('disabled')

      }
      function close_water_earth_4() {
        document.querySelector('#status_of_water_earth_4').innerHTML = 'Полив выключен'
        document.querySelector('#button_close_water_earth_4').setAttribute('disabled', true)
        document.querySelector('#button_open_water_earth_4').removeAttribute('disabled')
      }
      function open_water_earth_4() {
        document.querySelector('#status_of_water_earth_4').innerHTML = 'Полив включен'
        document.querySelector('#button_open_water_earth_4').setAttribute('disabled', true)
        document.querySelector('#button_close_water_earth_4').removeAttribute('disabled')

      }
      function close_water_earth_5() {
        document.querySelector('#status_of_water_earth_5').innerHTML = 'Полив выключен'
        document.querySelector('#button_close_water_earth_5').setAttribute('disabled', true)
        document.querySelector('#button_open_water_earth_5').removeAttribute('disabled')
      }
      function open_water_earth_5() {
        document.querySelector('#status_of_water_earth_5').innerHTML = 'Полив включен'
        document.querySelector('#button_open_water_earth_5').setAttribute('disabled', true)
        document.querySelector('#button_close_water_earth_5').removeAttribute('disabled')

      }
      function close_water_earth_6() {
        document.querySelector('#status_of_water_earth_6').innerHTML = 'Полив выключен'
        document.querySelector('#button_close_water_earth_6').setAttribute('disabled', true)
        document.querySelector('#button_open_water_earth_6').removeAttribute('disabled')
      }
      function open_water_earth_6() {
        document.querySelector('#status_of_water_earth_6').innerHTML = 'Полив включен'
        document.querySelector('#button_open_water_earth_6').setAttribute('disabled', true)
        document.querySelector('#button_close_water_earth_6').removeAttribute('disabled')
      }
      function average_hum_earth_1() {
        document.querySelector('#aver_hum_earth_1').innerHTML = 'Средняя влажность почвы за последние 10 измерений: {{average_hum_earth_1}}'
      }
      function average_hum_earth_2() {
        document.querySelector('#aver_hum_earth_2').innerHTML = 'Средняя влажность почвы за последние 10 измерений: {{average_hum_earth_2}}'
      }
      function average_hum_earth_3() {
        document.querySelector('#aver_hum_earth_3').innerHTML = 'Средняя влажность почвы за последние 10 измерений: {{average_hum_earth_3}}'
      }
      function average_hum_earth_4() {
        document.querySelector('#aver_hum_earth_4').innerHTML = 'Средняя влажность почвы за последние 10 измерений: {{average_hum_earth_4}}'
      }
      function average_hum_earth_5() {
        document.querySelector('#aver_hum_earth_5').innerHTML = 'Средняя влажность почвы за последние 10 измерений: {{average_hum_earth_5}}'
      }
      function average_hum_earth_6() {
        document.querySelector('#aver_hum_earth_6').innerHTML = 'Средняя влажность почвы за последние 10 измерений: {{average_hum_earth_6}}'
      }
      function turn_on_emer_manag() {
        document.querySelector('#button_turn_on_manag').setAttribute('disabled', true)
        document.querySelector('#button_turn_off_manag').removeAttribute('disabled')
        document.querySelector('#text_emer_manag').innerHTML = 'Экстренное управление теплицей включено'
        close_windows()
        close_water()
        close_water_earth_1()
        close_water_earth_2()
        close_water_earth_3()
        close_water_earth_4()
        close_water_earth_5()
        close_water_earth_6()
        alert('Вы включили экстренное управление теплицей!' + '\n' + 'Все кнопки активны!')
      }
      function turn_off_emer_manag(argument) {
        document.querySelector('#button_turn_off_manag').setAttribute('disabled', true)
        document.querySelector('#button_turn_on_manag').removeAttribute('disabled')
        document.querySelector('#text_emer_manag').innerHTML = 'Экстренное управление теплицей выключено'
        alert('Вы выключили экстренное управление теплицей!' + '\n' + 'Некоторые кнопки могут не работать исходя из введенных вами ранее значений!')
      }



      function graph_date(number){    
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/input_dates_temp_hum?number='+number);
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          console.log(data)
          console.log(data["date"])
          console.log(data["temp"])
          console.log(data["hum"])
          if ((data["temp"].length != 0) & (data["hum"].length != 0) & (data["date"].length != 0)) {
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, {
              type: "line",
                data: {
                  labels: data["date"],
                  datasets: [
                    {
                      label: "Температура, °C",
                      data: data["temp"],
                      backgroundColor: "rgba(153,205,1,0.6)",
                    },
                    {
                      label: "Влажность, %",
                      data: data["hum"],
                      backgroundColor: "rgba(155,153,10,0.6)",
                    },
                  ],
                },
              });
          } else {alert('Информация за данный промежуток времени отсутствует(')}
          };
        }



      function graph_date_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 1 указанного промежутка';
        graph_date(1);
        reloud_graph = graph_date_1;
        return false;
      }
      function graph_date_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 2 указанного промежутка';
        graph_date(2);
        reloud_graph = graph_date_2;
        return false;
      }
      function graph_date_3(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 3 указанного промежутка';
        graph_date(3);
        reloud_graph = graph_date_3;
        return false;
      }
      function graph_date_4(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График температуры и влажности датчика № 4 указанного промежутка';
        graph_date(4);
        reloud_graph = graph_date_4;
        return false;
      }


      function graph_date_hum_earth(number){    
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/input_dates_hum_earth?number='+number); 
        xhr.send();
        var paramsString = document.location.href.split("/");
        console.log(paramsString[paramsString.length-1]);
        xhr.onload = function() {
          data = JSON.parse(xhr.response);
          test1.push(data)
          if ((data["hum_earth"].length != 0) & (data["date"].length != 0)) {
            var ctx = document.getElementById("myChart").getContext("2d");
            var myChart = new Chart(ctx, {
            type: "line",
              data: {
                labels: data["date"],
                datasets: [
                  {
                    label: "Влажность почвы, %",
                    data: data["hum_earth"],
                    backgroundColor: "rgba(155,153,10,0.6)",
                  },
                ],
              },
          });} else {alert('Информация за данный промежуток времени отсутствует(')}
          
        };
      }

      function graph_date_1_1(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 1';
        graph_date_hum_earth(1);
        reloud_graph = graph_date_1_1;
        return false;
      }
      function graph_date_1_2(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 2';
        graph_date_hum_earth(2);
        reloud_graph = graph_date_1_2;
        return false;
      }
      function graph_date_1_3(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 3';
        graph_date_hum_earth(3);
        reloud_graph = graph_date_1_3;
        return false;
      }
      function graph_date_1_4(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 4';
        graph_date_hum_earth(4);
        reloud_graph = graph_date_1_4;
        return false;
      }
      function graph_date_1_5(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 5';
        graph_date_hum_earth(5);
        reloud_graph = graph_date_1_5;
        return false;
      }
      function graph_date_1_6(){
        document.querySelector('#Name_of_Chart').innerHTML = 'График влажности почвы датчика № 6';
        graph_date_hum_earth(6);
        reloud_graph = graph_date_1_6;
        return false;
      }
      function write_dates() {
        input_date_from = document.querySelector("input[name='text_date_from']").value;
        input_date_to = document.querySelector("input[name='text_date_to']").value;
        if ((input_date_to != '') & (input_date_from != '')) {
          call_to_server('/input_dates', JSON.stringify({
          date_from: input_date_from,
          date_to: input_date_to
        }), function(){
          reloud_graph();
        }, reloud_graph())
        alert('Временной промежуток записан!')
      } else {alert('Пожалуйста, запишите даты в формате: ' + '\n' + 'Дата начала графика: 2023-03-09 14:03:00' + '\n' + 'Дата  конца графика: 2023-03-09 17:25:30')}
        
      }
    </script>
{% endblock %}
