{% extends "base.html" %}
{% block content %}
   
    <h3><p class="text-center">Автоматизированная система удаленного управления теплицей</p></h3>

    <div class="container" style="margin:15px auto">
      <div class="row">
        <div class="col-4">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Меню
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="index">Главная</a>
              <a class="dropdown-item" href="table">Таблица значений</a>
              <a class="dropdown-item" href="input">Создание нового датчика</a> 
              <a class="dropdown-item" href="about_us">О нас</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">

        </div>
      </div>
    </div>
    <h3 class="text-center">Запись данных датчиков вручную</h3>
    
    <div class="container" style="margin:30px auto">
      <div class="row">
        <div class="col-4">
          <h4>Записать значения датчиков температуры вручную</h4>
          <h6>Значение датчика температуры № 1</h6>
          <input name="temp_of_oxygen_1" class="form-control Alltemp" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика температуры № 2</h6>
          <input name="temp_of_oxygen_2" class="form-control Alltemp" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика температуры № 3</h6>
          <input name="temp_of_oxygen_3" class="form-control Alltemp" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика температуры № 4</h6>
          <input name="temp_of_oxygen_4" class="form-control Alltemp" style="margin:15px auto" type="text" placeholder="Введите значение">
        </div>
        <div class="col-4">
          <h4>Записать значения датчиков влажности воздуха вручную</h4>
          <h6>Значение датчика влажности № 1</h6>
          <input name="hum_of_oxygen_1" class="form-control Allhum" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности № 2</h6>
          <input name="hum_of_oxygen_2" class="form-control Allhum" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности № 3</h6>
          <input name="hum_of_oxygen_3" class="form-control Allhum" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности № 4</h6>
          <input name="hum_of_oxygen_4" class="form-control Allhum" style="margin:15px auto" type="text" placeholder="Введите значение">
        </div>
        <div class="col-4">
          <h4>Записать значения датчиков влажности почвы вручную</h4>
          <h6>Значение датчика влажности почвы № 1</h6>
          <input name="hum_of_earth_1" class="form-control Allhumearth" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности почвы № 2</h6>
          <input name="hum_of_earth_2" class="form-control Allhumearth" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности почвы № 3</h6>
          <input name="hum_of_earth_3" class="form-control Allhumearth" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности почвы № 4</h6>
          <input name="hum_of_earth_4" class="form-control Allhumearth" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности почвы № 5</h6>
          <input name="hum_of_earth_5" class="form-control Allhumearth" style="margin:15px auto" type="text" placeholder="Введите значение">
          <h6>Значение датчика влажности почвы № 6</h6>
          <input name="hum_of_earth_6" class="form-control Allhumearth" style="margin:15px auto" type="text" placeholder="Введите значение">
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-bottom: 40px;">
      <button type="button" style="text-align: center;" class="btn btn-warning" onclick="button_1()">Записать температуру, влажность воздуха и влажность почвы</button>
    </div>
      

  </body>
  <script> 
    function call_to_server(url, data, onload) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(data);

      xhr.onload = function() {
        var data_1 = JSON.parse(this.responseText);
        console.log(data_1);
        if (onload != null){onload(data_1);}
      };
    }
    
    function button_1() {
      list_of_temp = [];
      Alltemp = document.querySelectorAll(".Alltemp");
      Alltemp.forEach(element => {
        if (element.value != "") {
          list_of_temp.push(element.value)
        }
      });
      
      list_of_hum_of_earth = []
      Allhumearth = document.querySelectorAll(".Allhumearth")
      Allhumearth.forEach(element => {
        if (element.value != "") {
          list_of_hum_of_earth.push(element.value)
        }
      });

      list_of_hum = []
      Allhum = document.querySelectorAll(".Allhum");
      Allhum.forEach(element => {
        if (element.value != "") {
          list_of_hum.push(element.value)
        }
      });
      if ((list_of_temp.length == 4) & (list_of_hum.length == 4) & (list_of_hum_of_earth.length == 6)) {
        call_to_server('/button_index', JSON.stringify({
          temp: list_of_temp,
          hum: list_of_hum,
          humearth: list_of_hum_of_earth
          })
        )
        alert("Вы записали данные датчиков температуры воздуха: " + list_of_temp + "\n" + "Вы записали данные датчиков влажности воздуха: " + list_of_hum, + '\n' + "Вы записали данные датчиков влажности почвы: " + list_of_hum_of_earth);
      }
      else  {
        alert('Не все значения записаны! Пожалуйста, запишите все значения!')
      }
      console.log(list_of_hum)
      console.log(list_of_temp)
      console.log(list_of_hum_of_earth)
    }
  </script>
</html>
{% endblock %}